/* font-family: 'Helvetica', sans-serif;
font-family: 'Garamonod', serif;
font-family: 'Roboto', sans-serif; */
html {
  font-size: 15px;
  background-color: powderblue;
}
img {
  height: 500px;
  border: none;
  display: flex;
}

body {
  max-width: 800px;
  margin: auto;
  font-family: 'Garamond', serif;
}
h1 {
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 2rem;
}
ul {
  font-family: 'Roboto', sans-serif;
  font-style: italic, oblique;
  list-style: none;
}
li {
  color: dimgrey;
  font-family: 'Roboto', sans-serif;
  font-style: italic, oblique;
}
a {
  color: dimgrey;
  font-family: 'Roboto', sans-serif;
  font-style: italic, oblique;
}
