/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto', sans-serif;
*/
html {
  font-size: 15px;
}
img {
  width: 100%;
  max-width: 400px;
  border: none;
  display: flex;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: powderblue;
  margin: 0px;
}

main {
  width: 90%;
  max-width: 800px;
  background: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 2rem;
}

/*beginning updated nav and ul,ol*/
nav {
  color: white;
  background-color: dimgray;
  padding: 0;
  diplay: block;
  margin: 0;
  border-bottom: 3px solid white;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  list-style: none;
}
/*end of updated nav and ul,ol*/

nav a {
  color: white;
  font-weight: bold;
}

li {
  color: white;
  font-family: 'Coromont Garamond', serif;
  font-style: italic;
}

ol li {
  text-transform: uppercase;
}

nav li, nav li a {
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #white;
  font-family: 'Coromont Garamond', serif;
  font-style: italic;
}

footer {
  background: dimgray;
  color: white;
  width: 100%
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Coromont Garamond'
  font-weight:bold;
}
